{:deps {org.clojure/clojure {:mvn/version "1.10.3"}}

 :paths ["src"]

 :aliases
 {:build {:extra-paths ["src" "resources"]
          :deps {io.github.clojure/tools.build {:git/tag "v0.2.1" :git/sha "dd64636"}}
          :ns-default build}
  
  :dev {:extra-paths ["src" "resources"]
        :extra-deps {compojure/compojure {:mvn/version "1.6.1"}
                     cheshire/cheshire {:mvn/version "5.10.1"}
                     http-kit/http-kit {:mvn/version "2.5.3"}
                     hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
                     ring/ring-defaults {:mvn/version "0.3.3"}
                     ring/ring-core {:mvn/version "1.9.4"}
                     ring/ring-devel {:mvn/version "1.9.4"}
                     ring/ring-json {:mvn/version "0.5.1"}
                     com.ashafa/clutch {:mvn/version "0.4.0"}
                     com.draines/postal {:mvn/version"2.0.4"}}}}}
