{:CalibrationRequest
 {:Type "agwt"
  
  ;; agwt Kunde
  :Comment ""
  
  ;; evtl. agwt  
  :PostReminder false,
  :PreReminder true
  :RepeatNMonth 12

  :Customer {;; agwt Format + Gender key}
  
  :Device
  [;; Array da 1 oder viele
   {
    :ToDo {;; agwt, stellt vl zur Verfügung}
    ;; 1 oder viele
    :Amount 1
    }
   ;; evtl. weitere Geräte 
   ]
  }
 }
