{:CalibrationRequest
 {:RepeatMonth 12
  :Generated false
  :Comment "Testdaten von AnGeWaNt"
  :PostReminder false
  :PreReminder true

  :RequestId "34330b0e9f16c21007b37f2d562082e4"

  :Customer
  {:Sign nil
   :Lang "de"
   :Comment "Testdaten von AnGeWaNt"
   :Invoice nil
   :AddName "AG 8.54"

   :Address
   {:Town "Berlin"
    :Street "Abbestr. 2-12"
    :Zipcode "10587"
    :Land "DE"
    :District "BE"
    :Category nil}
   :Shipping nil
   :Name "Physikalisch-Technische Bundesanstalt"
   :Type "Verwender"
   :DebitorenNr nil

   :Contact
   {:Name "Samuel Eickelberg"
    :Gender "m"
    :Email "samuel.eickelberg@ptb.de"
    :Phone "030 3481-7760"
    :Fax nil}}

  ;; Einen Wunschtermin (desired) könnte ich in die
  ;; Info-Mail schreiben das könnte dann bei der
  ;; Terminvergabe Berücksichtigung finden
  :Date [{:Type "desired" :Value "2021-11-15"}]
  :Maintainer "Samuel Eickelberg"
  :Device
  [;; Array da 1 oder viele
   {:Type nil
    :ToDoName "CDG von: 0.001mbar bis: 0.1mbar mit 15 Messpunkten"
    ;; 1 oder viele
    :Amount 1}
   ;; evtl. weitere Geräte
   ]}}
  
 
