{
 :server {:port 9099
          :join? false}
 ;; couchdb
 :db-srv "a73434"
 :db-port 5984
 :db-db "vl_db"
 :db-prot "http"
 :db-task-design "agwt"
 :db-todo-view "ToDo"
 :db-customer-design "agwt"
 :db-mpds-view "Customer"
}
