{
 :smtp-host "smtp-hub.bs.ptb.de"
 :server {:port 9099
          :join? false}
 ;; couchdb
 :db-srv "a73434"
 :db-port 5984
 :db-db "vl_db"
 :db-prot "http"
 :db-req-design "vl-agwt"
 :db-req-view "RequestId"
 :db-dcc-design "vl-agwt"
 :db-dcc-view "DCC"
 }
